<% provide(:title, 'Help') %>

<div class='row'>
	<div class='col-md-12'>
		<h1>Help</h1>
		<p>
			Get help on this website at
			<a href='http://curails.herokuapp.com'> the course website </a>

		</p>

	</div>

</div>